<div class="container">
    <div class="filter">
        <h3>Filter Activity</h3>
        <div>
            <span class="dot orange"></span>
            <span>Appt Request</span>
        </div>
        <div>
            <span class="dot green"></span>
            <span>Appointment</span>
        </div>
        <div>
            <span class="dot purple"></span>
            <span>Form</span>
        </div>
        <div>
            <span class="dot blue"></span>
            <span>Payment</span>
        </div>
        <div>
            <span class="dot red"></span>
            <span>Feedback</span>
        </div>
        <div>
            <span class="dot black"></span>
            <span>Review</span>
        </div>
    </div>
    <div class="actions">
        <h2>Action Needed</h2>
        
        <hr>

    </div>
    <div class="notifications">

    </div>
</div>