<div class="container">
  <div class="data">
    <h1>Welcome back, Chris</h1>
    <p>
      Lets take you to your day today! You have <b>0 patients</b> scheduled and
      <b>0 new</b> <br> patients. You are scheduled to produce <b>$0.00</b>. You need
      to produce <b>$0.00</b> stay on <br> track this month. View Huddle
    </p>
    <div class="links">
      <div class="inner-link">
        <a href="#"
          >Create a Custom <br />
          Campaign
        </a>
        <img src="../assets/arrow_i.png" alt="" />
      </div>
      <div class="inner-link">
        <a href="#">Work on My Tasks </a>
        <img src="../assets/arrow_i.png" alt="" />
      </div>
      <div class="inner-link">
        <a href="#"
          >Find Revenue <br />
          Opportunities</a
        >
        <img src="../assets/arrow_i.png" alt="" />
      </div>
    </div>
  </div>
  <div class="heroImg">
    <img src="../assets/hero-img.png" alt="" />
  </div>
</div>

<div class="activity">
    <h2>Activity</h2>
    <div>
        <app-activity></app-activity>
    </div>
</div>
<div class="table">
    <h2>Data Table</h2>
    <div>
        <app-table></app-table>
    </div>
  </div>
